.flash-message { 
    border: 1px solid #ccc; 
    padding: 10px; 
    margin: 10px 0;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10; 
}

.flash-success { 
    background-color: #4cb423; 
}

.flash-danger { 
    background-color: #f2dede; 
}

.close-btn { 
    position: absolute; 
    top: 5px; 
    right: 10px; 
    cursor: pointer; 
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    background-image: url('../images/background.png');
    background-size: cover;
}

header {
    top: 0;
    left: 0;
    width: 100%;
    height: 120px;
    padding: 20px 0;
    text-align: left;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: white;
    background-size: cover;
    background-position: center;
    z-index: 2;
}

.navbar {
    padding-right: 100px;
    display: flex;
    font-size: 40px;
    justify-content: space-between;
    align-items: center;
}

.home-button {
    position: absolute;
    top: 20px;
    left: 10px;
    width: 300px;
    display: flex;
}

.home-button img {
    width: 70%;
    height: auto;
}

.icons {
    display: flex;
    gap: 100px;
    padding-top: 36px;
    width: auto;
    object-fit: cover;
}

.icons a {
    text-decoration: none;
    color: inherit;
}

.ma_icon {
    height: 70px;
}

.report_icon {
    margin-top: -10px;
    height: 80px;
}

.manage_feedback_icon {
    margin-bottom: 5px;
    height: 60px;
}

.logouticon {
    height: 60px; 
}

table {
    width: 99%;
    border-collapse: collapse;
    margin: 20px auto; /* Centers the table horizontally */
    font-size: 16px;
    text-align: left; /* Keeps the content aligned to the left */
}


thead {
    background-color: #f2f2f2;
}

th, td {
    padding: 12px 15px;
    border: 1px solid #ddd;
}

th {
    background-color: #007bff;
    color: white;
    text-align: center;
}


tbody tr:hover {
    background-color: #f1f1f1;
}

img {
    border-radius: 4px;
    display: block;
    margin: 0 auto;
}

footer {
    position: relative;
    padding: 150px 20px;
    text-align: center;
    color: white;
}

.search-container {
    width: 1000px;
    display: flex;
    align-items: center;
    margin-left: 25px;
}

.search-container input[type="text"] {
    flex-grow: 1; /* Allows the input to take up the remaining space */
    width: 500px;
    height: 40px;
    padding: 8px;
    border-radius: 20px;
    border: 1px solid #ddd;
    box-sizing: border-box;
    margin-right: 10px; /* Adds some space between the input and the button */
}

.sbtn {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color: white;
    background-color: #9747FF;
    border-radius: 4px;
    border: none;
    transition: background-color 0.3s ease;
    cursor: pointer;
    flex-shrink: 0; /* Ensures the button doesn't shrink */
}

h1 {
    margin-left: 30px;
}

