<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reply to Feedback</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/manager_reply_feedback.css')}}">
</head>
<body>
    <h1>Reply to Feedback</h1>
    <div reply-container>
        <form action="{{url_for('reply_feedback')}}" method="POST">
            <input type="hidden" name="feedback_id" value="{{ feedback[0] }}">
            <p><strong>Feedback ID: </strong> {{ feedback[0] }}</p>
            <p><strong>Staff ID: </strong> {{ feedback[2] }}</p>
            <p><strong>Feedback: </strong> {{ feedback[1] }}</p>
            <p><strong>Feedback Time: </strong> {{ feedback[3] }}</p>
            <textarea name="reply" rows="4" cols="50" placeholder="Enter your reply here" required></textarea>
            <button type="submit">Submit Reply</button>
        </form>
    </div>
</body>
</html>