<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/manager_view_account.css') }}">
    <title>Manager - Account Detail</title>

</head>
<body>
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="flash-message flash-{{ category }}">
                <span class="close-btn" onclick="this.parentElement.style.display='none';">&times;</span>  
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}
    <header>
        <div class="navbar">
            <div>
                <a href="{{ url_for('manager_homepage') }}" class="home-button">
                    <img src="{{ url_for('static', filename='images/logo_home.png') }}" alt="Logo" class="logo">
                </a>
            </div>
            <div class="icons">
                <a href="{{ url_for('manager_account')}}" class="icon-link">
                    <img src="{{ url_for('static', filename='images/manage_account.png') }}" alt="Icon" class="ma_icon">
                </a>
                <a href="{{ url_for('manager_reports')}}" class="icon-link">
                    <img src="{{ url_for('static', filename='images/report.png') }}" alt="Icon" class="report_icon">
                </a>
                <a href="{{ url_for('view_feedback')}}" class="icon-link">
                    <img src="{{ url_for('static', filename='images/feedback.png') }}" alt="Icon" class="manage_feedback_icon">
                </a>
                <a href="{{ url_for('login') }}" class="icon-link">
                    <img src="{{ url_for('static', filename='images/logouticon.png') }}" alt="logouticon" class="logouticon">
                </a>
            </div>
        </div>
    </header>
    <main>
    <h1>Account Detail</h1>
    <div class="account-details">
        <h2>Details for Staff ID: {{ admin['stf_id'] }}</h2>
        <p><strong>Name: </strong> <span class="value">{{ admin['stf_name'] }}</span></p>
        <p><strong>Role: </strong> <span class="value">{{ admin['stf_role'] }}</span></p>
        <p><strong>Email: </strong> <span class="value">{{ admin['stf_email'] }}</span></p>
        <p><strong>Phone: </strong> <span class="value">{{ admin['stf_phone'] }}</span></p>
        <p><strong>Date of Birth: </strong> <span class="value">{{ admin['stf_dob'] }}</span></p>
        <p><strong>Address: </strong> <span class="value">{{ admin['stf_address'] }}</span></p>
        <p><strong>Emergency Contact: </strong> <span class="value">{{ admin['stf_emer_contact'] }}</span></p>
        <div class="admin-actions">
            <form method="GET" action="/manager/account/edit/{{ admin.stf_id }}" style="display:inline;">
                <button type="submit">Edit</button>
            </form>
        </div>
        <a href="/manager/account" class="back-link">Back to Manage Accounts</a>
    </div>
</body>
</html>
