<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Purchase History</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/purchase_history.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap">
</head>
<body>
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="flash-message flash-{{ category }}">
                <span class="close-btn" onclick="this.parentElement.style.display='none';">&times;</span>  
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}
    <header>
        <div class="navbar">
            <div>
                <a href="{{ url_for('homepage') }}" class="home-button">
                    <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo" class="logo">
                </a>
            </div>

            <div class="icons">
                <a href="{{ url_for('laptop') }}" class="icon-link">
                    <img src="{{ url_for('static', filename='images/header_all_laptop.png') }}" alt="Icon" class="all_laptop_icon">
                </a>
                <a href="{{ url_for('cart') }}" class="icon-link">
                    <img src="{{ url_for('static', filename='images/cart.png') }}" alt="Icon" class="cart_icon">
                </a>
                <a href="{{ url_for('setting_profile') }}" class="icon-link">
                    <img src="{{ url_for('static', filename='images/setting.png') }}" alt="Icon" class="setting_icon">
                </a>
            </div>
        </div>
    </header>
    <main>
        <div class="container">
            <div class="sidebar">
                <a href="{{ url_for('setting_profile') }}" class="profilebtn">PROFILE</a>
                <a href="{{ url_for('setting_payment') }}" class="paymentbtn">PAYMENT DETAILS</a>
                <a href="{{ url_for('setting_history_purchase') }}" class="historybtn">HISTORY</a>
                <a href="{{ url_for('login') }}" class="logoutbtn"><img src="{{ url_for('static', filename='images/logouticon.png') }}" alt="logouticon" style="padding-right: 15px; width: 19px; height: 20px; vertical-align: middle;">LOG OUT</a>
            </div>
            <div class="content-area">
                <div class="main-container">
                    <div class="header-links">
                        <a href="#" class="active-link"><h1>Purchase</h1></a>
                        <a href="{{url_for('setting_history_search') }}" class="header-link"><h1>Search</h1></a>
                    </div>
                </div>
                    {% if orders %}
                    <div class="order-grid"> 
                        {% for order_id, details in orders.items() %}
                            <div class="order-container"> 
                                <div class="order">
                                    <h2><strong>Order ID:</strong> {{ order_id }}</h2>
                                    <p><strong>Purchase Date:</strong> {{ details.date }}</p>
                                    <p><strong>Order Status:</strong> {{ details.status }}</p>
                                    <p><strong>Purchase Amount:</strong> RM {{ details.amount }}</p>
                                    
                                        {% for product in details.products %}
                                                <br>
                                                <p><strong>Product Name:</strong> <a href="{{ url_for('laptop_detail', product_id=product.product_id) }}" class="product-link">{{ product.name }}</a></p>
                                                <p><strong>Purchase Quantity:</strong> {{ product.quantity }}</p>
                                                {% if product.pic_url %}
                                                    <a href="{{ url_for('laptop_detail', product_id=product.product_id) }}">
                                                        <img src="{{ product.pic_url }}" alt="Product Image" class="lapimage">
                                                    </a>
                                                {% else %}
                                                    <p>No image available</p>
                                                {% endif %}
                                                {% if (order_id, product.product_id) in existing_reviews %}
                                                    <p><strong>Review:</strong> {{ existing_reviews[(order_id, product.product_id)]['review'] }}</p>
                                                    <p><strong>Rating:</strong> {{ existing_reviews[(order_id, product.product_id)]['rating'] }} / 5</p>
                                                    {% if existing_reviews[(order_id, product.product_id)].reply %}
                                                        <p><strong>Responses:</strong> {{ existing_reviews[(order_id, product.product_id)].reply }}</p>
                                                    {% endif %}
                                                {% else %}
                                                    <br>
                                                    <button class="review-btn" data-product-id="{{ product.product_id }}" data-order-id="{{ order_id }}">Give Review and Rating</button>
                                                {% endif %}
                                            
                                        {% endfor %}
                                    
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% else %}
                    <p>No purchase history available.</p>
                {% endif %}
        
                        <div id="review-popup" class="popup">
                            <div class="popup-content">
                                <span class="close-btn" onclick="closePopup()">&times;</span>
                                <form action="{{ url_for('setting_history_purchase') }}" method="post" class="review-form">
                                    <input type="hidden" id="product-id" name="product_id">
                                    <input type="hidden" id="order-id" name="order_id">
                                    <div class="review-container">
                                        <label for="review">Review</label>
                                        <textarea id="review" name="review" placeholder="Leave your review here!"required></textarea>
                                    </div>
                                    <div class="stars-container">
                                        <label for="rating">Rating</label>
                                    <div class="stars">
                                        <span class="star" data-value="1">&#9733;</span>
                                        <span class="star" data-value="2">&#9733;</span>
                                        <span class="star" data-value="3">&#9733;</span>
                                        <span class="star" data-value="4">&#9733;</span>
                                        <span class="star" data-value="5">&#9733;</span>
                                        <input type="hidden" id="rating" name="rating" required>
                                    </div>
                                    </div>
                                    <div class="submit-container">
                                        <button type="submit" class="sbtn">Submit</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                            </div>     
                </div>
        </div>
    <script>
        document.querySelectorAll('.review-btn').forEach(button => {
            button.addEventListener('click', function() {
                document.getElementById('product-id').value = this.dataset.productId;
                document.getElementById('order-id').value = this.dataset.orderId;
                document.getElementById('review-popup').style.display = 'flex';
            });
        });

        function closePopup() {
            document.getElementById('review-popup').style.display = 'none';
        }

        document.querySelectorAll('.star').forEach(star => {
            star.addEventListener('click', function() {
                const rating = this.getAttribute('data-value');
                document.getElementById('rating').value = rating;
                updateStars(rating);
            });
        });

        function updateStars(rating) {
            document.querySelectorAll('.star').forEach(star => {
                if (star.getAttribute('data-value') <= rating) {
                    star.classList.add('selected');
                } else {
                    star.classList.remove('selected');
                }
            });
        }

        window.onscroll = function() {
            var sidebar = document.getElementById("sidebar");
            if (window.pageYOffset > 0) {
                sidebar.style.top = window.pageYOffset + "px";
            } else {
                sidebar.style.top = "0";
            }
        };
    </script>
</body>
</html>