<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/loginstyle.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap">
    <title>Login</title>
</head>
<body>
    <div class="user-container">
        <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo" class="logo">
        <div class="tabs">
            <a href="{{ url_for('login') }}" class="tab">User</a>
            <a href="#" class="tab active">Staff</a>
        </div>
        <div class="login-container">
            <h1>Staff Login</h1>
            <p class="greetings">Welcome back. Enter your credentials to access your account</p>
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="flash-message flash-{{ category }}">
                            <span class="close-btn" onclick="this.parentElement.style.display='none';">&times;</span>  
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <form method="post">
                <h2>Username</h2>
                <input type="username" placeholder= "Kai" name="username" required>
                <h3>Password</h3> 
                <input type="password" placeholder="Please enter correct password" name="password" required>
                <button type="submit" class="btnf" name="action" value="forgot_password">Forgot Password</button>
                <button type="submit" class="btn" name="action" value="login">Login</button>
            </form>
            <p class="register">Don't have an Account? <a href="{{ url_for('register') }}">Sign up here</a></p>
        </div>
    </div>
</body>
</html>